@model docs.Models.DocumentationMember

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p class="lead">@Model.Summary.</p>
</div>


@if (!string.IsNullOrEmpty(Model.Example))
{
<div class="row">
    <div class="col-md-12">
        <pre><code class="cs hljs">@Model.Example</code></pre>
    </div>
</div>
}

<div class="row">
    <div class="col-md-12">
        <h2>Methods</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Parameters</th>
                    <th>Returns</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Children.Where(t => t.Type == "M"))
                {
                    <tr>
                        <td>@item.Name.Replace(Model.Name + ".", "").Replace("(", " (").Replace("{", " {").Replace(",", ", ")</td>
                        <td>@Html.Partial("_MethodSig", item)</td>
                        @if (item.Name.Contains("#ctor"))
                        {
                            <td>A new instance of this class</td>}
                        else
                        {
                        <td>@Html.Partial("_TypeLink", (item.Returns))</td>
                        }
                        <td>@item.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <h2>Properties</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Children.Where(t=>t.Type == "P"))
                {
                    <tr>
                        <td>@item.Name.Replace(Model.Name + ".", "")</td>
                        <td>@Html.Partial("_TypeLink", item.Returns)</td>
                        <td>@item.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>